Structured.dtd

<!ELEMENT catalogue (course+)>
<!ELEMENT course (title, id, format, description, instructor, start, end, tuition)>
<!ATTLIST course subject (communication|programming|web_design ) #REQUIRED>
<!ELEMENT title (#PCDATA)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT format (#PCDATA)>
<!ELEMENT description (#PCDATA)>
<!ELEMENT instructor (#PCDATA)>
<!ELEMENT start (#PCDATA)>
<!ELEMENT end (#PCDATA)>
<!ELEMENT tuition (#PCDATA)>
